<h2> New Movie</h2>

<form  action="/movies/create" method="post">

    <label>Tiltle</label>
    <input name="title"/>
    <br>
    <label>Genre</label>
    <input name="genre"/>
    <br>
    <label>Plot</label>
    <input name="plot"/>
    <br>
    <label>Cast</label>
    <select name="cast" multiple>
        {{#each celebrities}}
            <option value="{{_id}}">{{name}}</option>
        {{/each}}
    </select>
    <br>

    <button type="submit">done</button>

</form>